.swiper-button-next {
  color: #000 !important;
  height: 50px !important;
  width: 50px !important;
}
.swiper-button-prev {
  color: #000 !important;
  height: 50px !important;
  width: 50px !important;
}

.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  font-size: 14px !important;
  font-weight: 700 !important;
}
